/Library
/Logs
/obj
/Temp
/Assembly-CSharp-Editor.csproj
/.vsconfig
/Assembly-CSharp.csproj
/Builds
/.utmp
/.vscode
/.vs
/app.apk

/*.sln
/AmprionDemo_BurstDebugInformation_DoNotShip/tempburstlibs/arm64-v8a/*.txt
/Assets/Resources/*.json
/Assets/StreamingAssets/*.json
/Assets/*.meta
/Assets/_Recovery/*.unity
/Assets/_Recovery/*.meta
/app_BackUpThisFolder_ButDontShipItWithYourGame/Managed/*.dll
/app_BackUpThisFolder_ButDontShipItWithYourGame/Managed/*.pdb
/app_BackUpThisFolder_ButDontShipItWithYourGame/Managed/*.json
/app_BackUpThisFolder_ButDontShipItWithYourGame/Managed/*.txt
/app_BackUpThisFolder_ButDontShipItWithYourGame/il2cppOutput/*.cpp
/app_BackUpThisFolder_ButDontShipItWithYourGame/il2cppOutput/*.c
/app_BackUpThisFolder_ButDontShipItWithYourGame/il2cppOutput/*.json
/app_BackUpThisFolder_ButDontShipItWithYourGame/il2cppOutput/Symbols/*.json
/app_BackUpThisFolder_ButDontShipItWithYourGame/il2cppOutput/Symbols/*.txt
/Assets/Data/EOG25_MS_KW_Therm.csv
/Assets/Data/EOG25_MS_KW_Therm.csv.meta
/Assets/Data/EOG25_MS_KW_Therm_short.csv
/Assets/Data/EOG25_MS_KW_Therm_short.csv.meta
/Assets/Data/kw_locations.csv
/Assets/Data/kw_locations.csv.meta
